<div class="container">
    <hr>
    <div class="row row-cols-6">
        <div class="col"><img src="../../../assets/img/clientes/logo1.png" alt=""></div>
        <div class="col"><img src="../../../assets/img/clientes/logo2.png" alt=""></div>
        <div class="col"><img src="../../../assets/img/clientes/logo3.png" alt=""></div>
        <div class="col"><img src="../../../assets/img/clientes/logo4.png" alt=""></div>
        <div class="col"><img src="../../../assets/img/clientes/logo5.png" alt=""></div>
        <div class="col"><img src="../../../assets/img/clientes/logo6.png" alt=""></div>
    </div>
    <hr>
</div>