.wrapper {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif
}

hr {
    margin: 7;
    width: 100%;
    background-color: #D2D3D7;
}

.boton {
    border: 2px solid black;
    border-color: black;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    height: 30px;
    padding-top: 5px;
    margin-left: 20px;
}

.cuerpo-inicial {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.cuerpo-inicial h4 {
    font-weight: bold;
}

.lateral {
    margin-left: 20%;
    width: 100px;
}

.rating {
    text-align: end;
    margin-top: 50px;
}

.boton:hover {
    background-color: #4AACC6;
    transition: background-color 0.8s linear 0.2s;
    color: white;
    cursor: pointer;
}

.title {
    text-align: center;
}

.title h1 {
    font-weight: bolder;
}

.title h5 {
    margin-top: 30px;
    font-weight: bolder;
}

.centrales {
    width: 450px;
    align-items: center;
    text-align: center;
}

.centrales i {
    font-weight: bold;
}

.img-port {
    border-radius: 30px;
}

.row .mt-4 {
    padding: 10px;
}

.etiqueta {
    background-color: #E3E3E3;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

.ventas {
    width: 60%;
    color: white;
    background-color: #111935;
    border-color: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}


/* Cards */

.card {
    text-align: center;
    font-size: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin: auto;
    width: 100%;
    background-color: white;
    text-align: left;
}

.card-footer {
    background-color: white;
}

.img-tarjet {
    object-fit: none;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}