<div class="persona mt-5">

    <div class="row">
        <div class="col-3">

            <img class="img-cliente" src="../../../assets/img/clientes/personas/person1.png" alt="">

        </div>
        <div class="col">

            <h6>Daniel Frick, CEO Witzenmann</h6>

            <p>Hafn-IT gestionó nuestros servicios. También nuestros equipos de telefonía. Desde entonces, tenemos menos esfuerzo y podemos reservar rápidamente o cancelar la suscripción al rendimiento</p>

        </div>
    </div>

    <div class="row">
        <div class="col-3">

            <img class="img-cliente" src="../../../assets/img/clientes/personas/person2.png" alt="">

        </div>
        <div class="col">

            <h6>Daniel Frick, CEO Witzenmann</h6>

            <p>Hafn-IT gestionó nuestros servicios. También nuestros equipos de telefonía. Desde entonces, tenemos menos esfuerzo y podemos reservar rápidamente o cancelar la suscripción al rendimiento</p>

        </div>
    </div>



</div>