<div class="tarjetas mt-5">
    <div class="tarjet-title">

        <h4>Tambien recomendamos los siguientes productos</h4>
        <hr>
    </div>

    <div class="tarjet-body">

        <div class="row">

            <div class="col-3">

                <div class="tarjet-product">

                    <div class="tarjet-img">

                        <img src="../../../assets/img/img-prod.jpg" alt="">

                    </div>
                    <div class="tarjet-description">

                        <h4>Transición a la nube</h4>


                    </div>

                    <div class="tarjet-desmall">

                        La implementación del proyecto sobre la base del concepto de la Evaluación Cloud Connect

                    </div>


                </div>



            </div>

            <div class="col-3">

                <div class="tarjet-product">

                    <div class="tarjet-img">

                        <img src="../../../assets/img/img-prod.jpg" alt="">

                    </div>
                    <div class="tarjet-description">

                        <h4>Zona de aterrizaje hafn-it Microsoft 365 </h4>


                    </div>

                    <div class="tarjet-desmall">

                        Zona de aterrizaje para sus servicios gestionados


                    </div>


                </div>



            </div>

        </div>



    </div>





</div>