<div class="wrapper fixed-top">

    <div class="wrapper-nav ">

        <div class="row">
            <div class="col">
                <a href=""><img class="img-nav mt-1" src="../../../../assets/img/Logo.png" alt=""></a>
            </div>
            <div class="col">
                <div class="row div-boton">
                    <div class="col boton mt-2"><i class="far fa-eye"> DASHBOARD </i></div>
                    <div class="col boton mt-2"><i class="fas fa-building">  PORTAFOLIO </i>

                    </div>
                </div>

            </div>
            <div class="col icon-nav mt-2">
                <i class="fas fa-shopping-bag  "></i>
            </div>
        </div>
    </div>


</div>