<div class="tarjetas mt-5">
    <div class="tarjet-title">

        <h3>Por qué, cómo, qué</h3>
        <hr>
    </div>

    <div class="tarjet-body">

        <div class="row row-cols-2">
            <div class="col">

                <p>
                    <b>¿Porque?</b>
                </p>
                <p>
                    Por supuesto, no todos los temas operativos se pueden elevar ad hoc a la nube. Iluminamos todos los temas y servicios de su TI actual y averiguamos qué servicios de su empresa tendrán que ejecutarse in situ en el futuro y cuáles se pueden reubicar fácilmente
                    en la nube.

                </p>



            </div>
            <div class="col">

                <p>
                    <b>¿Como?</b>
                </p>
                <p>
                    HAFN IT evalúa el status quo de sus servicios y aplicaciones sobre la base de un enfoque estructurado y documenta la configuración actual. Le acompañamos en el proceso completo de conversión a una infraestructura híbrida, trabajamos en estrecha colaboración
                    con su departamento de TI y también nos encargamos de la formación de los usuarios.

                </p>
            </div>
            <div class="col"><img class="img-tarjet" src="../../../assets/img/img-port.jpg" alt=""></div>
            <div class="col">

                <p>
                    <b>¿Que?</b>
                </p>
                <p>
                    Especialmente para aplicaciones estándar: Si ejecuta basado en la nube, es una verdadera ventaja en términos de rentabilidad y flexibilidad. Llamamos a esto escalabilidad y por lo tanto significamos la adaptabilidad precisa a sus requisitos actuales.

                </p>
            </div>
        </div>


    </div>





</div>