<div class="tarjetas mt-5">
    <div class="tarjet-title">

        <h3>Más información – Contenido de ventas</h3>
        <hr>
    </div>

    <div class="tarjet-body">



        <div class="row">
            <div class="col">

                <img class="img-product mt-5" src="../../../assets/img/img-prod.jpg" alt="">

                <h6 class="mt-3">Sitio web de HAFN-IT</h6>

                <p class="mt-5">SITIO WEB</p>

            </div>
            <div class="col">




            </div>
        </div>



    </div>





</div>