<div class="tarjetas mt-5">
    <div class="tarjet-title">

        <h3>Descubrir paquetes coincidentes</h3>
        <hr>
    </div>

    <div class="tarjet-body">

        <div class="tarjet-product">

            <div class="tarjet-img">

                <img src="../../../assets/img/img-prod.jpg" alt="">

            </div>
            <div class="tarjet-description">

                <h4>Todo para el lugar de trabajo remoto</h4>


            </div>

            <div class="tarjet-desmall">

                HAZ


            </div>


        </div>




    </div>





</div>